* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

/* login Page  */

.login__page_container {
  height: 100vh;
  width: 100vh;
  display: flex;
  background-color: black;
}
.login__page_form {
  display: "flex";
  flex-direction: "column";
  align-items: "center";
  padding: 10rem 1rem;
  height: 100vh;
  background-image: url("./images/login_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  /* background: linear-gradient(to bottom, #d2d8da, #3b413b); */
}

/* main container */

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* sidebar page */

.sidebar__container {
  min-height: 100%;
  width: 100%;
  background: #232d3f;
  color: "white";
  text-align: center;
  border-right: 1px solid rgb(216, 216, 216);
}

.sidebar__container_top {
  display: "flex";
  align-items: "center";
}
.sidebar__container_logo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.sidebar__container_headerText {
  text-align: center;
  padding: 1rem;
  color: white;
}
.sidebar__container_listItem {
  text-decoration: none;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1rem;
}
.sidebar__container_listItem_text {
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: start;
}

/* .sidebar__container_listItem:hover {
  background-color: #151d2b;
} */

/* main container */

.main__container {
  height: 100%;
  width: 100%;
}

/* header */

.header__page {
  width: 100%;
  height: 10vh;
  color: white;
  background: #232d3f;
  display: flex;
  align-items: center;
  justify-content: start;
  border-bottom: 1px solid rgb(216, 216, 216);
  padding: 0 1rem;
}

/* subheader */

.subheader__page {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #cbcccf;
  color: black;
}
.subheader__page_text {
  font-family: "Poppins", sans-serif;
}
.side__container__linkItem {
  padding: 1rem;
  background-color: aqua;
}
/* pages  */

.dashboard__page_container,
.account__page_container,
.syllabus__page_container {
  min-height: 75vh;
  width: 100%;
}
.dashboard__page_container {
  max-height: 75vh;
  overflow-y: scroll;
  background-color: rgb(231, 231, 231);
  padding: 0.5rem;
  border-radius: 5px;
  width: 100%;
}

.danger {
  color: red;
  font-family: "Poppins", sans-serif;
}

.footer__page {
  width: 100%;
  height: 6vh;
  color: white;
  background: #232d3f;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;

  border-top: 1px solid rgb(216, 216, 216);
}

/* account */
.account__page_container {
  height: 85vh;
  min-height: 75vh;
  overflow-y: scroll;
  background-color: rgb(231, 231, 231);
  padding: 0.5rem;
  border-radius: 5px;
  width: 100%;
}
.account__page_logo {
  height: 100px;
  width: 100px;
}

/* syllabus */

.syllabus__page_container {
  max-height: 75vh;
  overflow-y: scroll;
  background-color: rgb(231, 231, 231);
  padding: 0.5rem;
  border-radius: 5px;
  width: 100%;
}
.syllabus__page_datepicker {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  margin: 1rem 0.5rem;
}
.syllabus__page_datepicker_chip {
  margin-right: 1rem;
  background-color: #232d3f;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}
.syllabus__page_container_header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 1rem 0;
  font-family: "Poppins", sans-serif;
}

/* responseive */

@media only screen and (max-width: 399px) {
  .sidebar__container_logo {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
  .sidebar__container_headerText {
    text-align: center;
    padding: 0.5rem;
    color: white;
    display: none;
  }
  .sidebar__container_listItem {
    text-decoration: none;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem 0;
  }
  .sidebar__container_listItem_text {
    font-family: "Poppins", sans-serif;
    color: white;
    text-align: start;
    display: none;
  }
  /* header */
  .header__page_text,
  .footer__page_text,
  .subheader__page_text {
    font-size: 12px;
  }
  .account__page_logo {
    height: 70px;
    width: 70px;
  }

  .syllabus__page_datepicker {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
  }
  .syllabus__page_datepicker_chip {
    margin: 1rem 0;
    background-color: #232d3f;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
  }
}

@media only screen and (min-width: 400px) and (max-width: 600px) {
  .sidebar__container_logo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
  .sidebar__container_headerText {
    display: none;
  }
  .sidebar__container_listItem {
    text-decoration: none;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem 0;
  }
  .sidebar__container_listItem_text {
    display: none;
  }
  /* header */
  .header__page_text,
  .footer__page_text,
  .subheader__page_text {
    font-size: 16px;
  }
  .account__page_logo {
    height: 80px;
    width: 80px;
  }
  .syllabus__page_datepicker {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
  }
  .syllabus__page_datepicker_chip {
    margin: 1rem 0;
    background-color: #232d3f;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
  }
}

/* Small Screens (between 400px and 600px) */
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .sidebar__container_logo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
  .sidebar__container_headerText {
    display: none;
  }
  .sidebar__container_listItem {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  }
  .sidebar__container_listItem_text {
    display: none;
  }
  /* header */
  .header__page_text,
  .footer__page_text,
  .subheader__page_text {
    font-size: 16px;
  }

  .syllabus__page_datepicker {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
  }
  .syllabus__page_datepicker_chip {
    margin: 1rem 0;
    background-color: #232d3f;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
  }
}

/* Mobile (up to 600px) */
@media only screen and (min-width: 801px) and (max-width: 1024px) {
  .sidebar__container_logo {
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }
  .sidebar__container_headerText {
    text-align: center;
    padding: 0.5rem;
    color: white;
    font-size: 15px;
  }
  .sidebar__container_listItem {
    text-decoration: none;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem 0;
  }
  .sidebar__container_listItem_text {
    font-family: "Poppins", sans-serif;
    color: white;
    text-align: start;
    font-size: 12px;
  }
  /* header */
  .header__page_text,
  .footer__page_text,
  .subheader__page_text {
    font-size: 20px;
  }
}
